.grid-container{
    display: grid;
    grid-template-columns: repeat(6,auto);
    grid-gap: 5px;
    height: 100%;
}
.items{
    background-color: rgb(126, 219, 32);
    border: 1px solid rgb(126, 219, 32);
    border-radius: 2px;
    text-align: center;
    color: white;
    padding: 10px;
}

.a1{
    grid-row-start: 1;
    grid-row-end: 13;
}

.a2{
    grid-row-start: 1;
    grid-row-end: 7;
}

.a3{
    grid-row-start: 7;
    grid-row-end: 13;
}

.a4{
    grid-row-start: 1;
    grid-row-end: 5;
}

.a5{
    grid-row-start: 5;
    grid-row-end: 9;
}

.a6{
    grid-row-start: 9;
    grid-row-end: 13;
}

.a7{
    grid-row-start: 1;
    grid-row-end: 4;
}

.a8{
    grid-row-start: 4;
    grid-row-end: 7;
}

.a9{
    grid-row-start: 7;
    grid-row-end: 10;
}

.a10{
    grid-row-start: 10;
    grid-row-end: 13;
}




.a11{
    grid-row-start: 1;
    grid-row-end: 3;
}

.a12{
    grid-row-start: 3;
    grid-row-end: 5;
}

.a13{
    grid-row-start: 5;
    grid-row-end: 7;
}

.a14{
    grid-row-start: 7;
    grid-row-end: 9;
}

.a15{
    grid-row-start: 9;
    grid-row-end: 11;
}

.a16{
    grid-row-start: 11;
    grid-row-end: 13;
}




.a17{
    grid-row-start: 1;
    grid-row-end: 2;
}

.a18{
    grid-row-start: 2;
    grid-row-end: 3;
}

.a19{
    grid-row-start: 3;
    grid-row-end: 4;
}

.a20{
    grid-row-start: 4;
    grid-row-end: 5;
}

.a21{
    grid-row-start: 5;
    grid-row-end: 6;
}

.a22{
    grid-row-start: 6;
    grid-row-end: 7;
}

.a23{
    grid-row-start: 7;
    grid-row-end: 8;
}

.a24{
    grid-row-start: 8;
    grid-row-end: 9;
}

.a25{
    grid-row-start: 9;
    grid-row-end: 10;
}

.a26{
    grid-row-start: 10;
    grid-row-end: 11;
}

.a27{
    grid-row-start: 11;
    grid-row-end: 12;
}

.a28{
    grid-row-start: 12;
    grid-row-end: 13;
}