*{
    box-sizing: border-box;
    
}

body{
    text-align: left;
    font-size: 17px;
    color: white;
    margin: 15px 25px;
    padding: 8px;
}

.upperbox{
    text-align: center;
    background-color: rgba(143, 212, 86, 0.74);
    border: 1px solid seagreen;
    border-bottom: none;
    border-radius: 4px;
    padding-bottom: 1px;
}

.lowerbox{
    color: black;
    padding: 5px;
    padding-left: 8%;
    padding-right: 8%;
    border: 1px solid rgb(207, 207, 207);
    border-radius: 4px;
    border-top: none;
    background-color: whitesmoke;
}

.finsub{
    width: 100%;
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: 0px;
    border-radius: 8px;
    background-color: rgba(143, 212, 86, 0.74);
    padding: 15px 32px;
    display: inline-block;
}

.finsub:hover{
    background-color: seagreen;
    cursor: not-allowed;
}

input{
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
    padding: 4px;
}
/* Padding to give space between different label fields */
.forpadding{
    padding-bottom: 10px;
}