/* Top container for three top rows */
.flex-container{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(255, 255, 255);
}

/* Three rows internal flex box maker for different columns*/
.flex-container div.a, .flex-container div.b, .flex-container div.c{
    display: flex;
    flex-direction: row;
    color: white;
}

/* Row 1 biggest description */
.flex-container div.a div{
    background-color: chocolate;
    margin: 3px;
    padding: 10px;
    width: 100%;
    height: 200px;
    border-radius: 10px;
}

/* Row 2,3 similar */
.flex-container div.b div, .flex-container div.c div{
    background-color: chocolate;
    margin: 3px;
    padding: 10px;
    width: 100%;
    height: 35px;
    border-radius: 10px;
}

/* Internal container for white fb for row creation */
.flex-container .a .alpha{
    background-color:chocolate;
    width: 99%;
    height: 90%;
    display: flex;
    flex-direction: column;
    padding: 0px;
}

.flex-container .a .alpha .x{
    display: flex;
    flex-direction: row;
    margin: 0px;
    padding: 0px;
    /* Text color inside */
    color: chocolate; 
}

.flex-container .a .alpha .x div{
    background-color: rgb(255, 255, 255);
    margin: 3px;
    padding: 9px;
    width: 100%;
    height: 60%;
    border-radius: 6px;
}

h1{
    text-align: center;
    color: rgb(231, 9, 9);
}