*{
    box-sizing: border-box;
}

body{
    margin: 0px;
}

.bigtitle{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(247, 247, 247);
    font-size: 65px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: #05386B;
    text-align: center;
    height: 45%;
}

ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: black;
    color: rgb(255, 255, 255);
    font-size: 25px;
    position: sticky;
    top: 0;
}

li{
    float: left;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    background-color: #111;
}

.content{
    margin-left: 50px;
    padding: 25px;
}