*{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    margin: 20px
}

.headder{
    text-align: center;
    color: gold;
    font-size: 40px;
}

.pic-box{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 500px;
    margin-right: 50px;
    /* align-self: center; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.pic-box h1{
    object-fit: cover;
    text-align: center;
}

.pic-box p{
    margin-top: 0px;
    object-fit: cover;
    text-align: center;
    font-size: larger;
}

.pic-box img{
    width: 100%;
    object-fit: cover;
    height: 40%;
}

.pic-box a{
    object-fit: cover;
    padding: 20px;
    background-color: rgb(116, 108, 103);
    color: white;
    margin: 25%;
    margin-top: 0px;
    margin-bottom: 0px;
    text-decoration: none;
    text-align: center;
}

.pic-box a:hover{
    background-color: rgb(92, 88, 86);
}

.flex-container{
    display: flex;
    flex-direction: column;
    margin: 20px;
    height: max-content;
}

.flex-subcontainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
    height: 550px;
    
}

.a,.b{
    align-items: center;
}

.tp{
    align-self: flex-start;
}